<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="home">
    <header>
        <div class="logo">
            <a href="/">
            <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="">Smarmartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul class="user">
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="products">
            <article>
                <img src="/images/img-phone-01.jpg" alt="phone 01">
                <h4></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, blanditiis quisquam, harum consectetur quibusdam distinctio, sint repudiandae cum sunt vel laudantium in. Quia veritatis quisquam odit soluta labore eum minima.
                Quia reiciendis odio, aut exercitationem laudantium excepturi magni vel explicabo autem ut qui animi nobis mollitia necessitatibus sit illo quod obcaecati ad omnis fugit at? Rerum sunt possimus quibusdam praesentium.
                </p>
                <button>Ver más</button>
            </article>
            
            <article>
                <img src="/images/img-phone-02.jpg" alt="phone 02">
                <h4></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, blanditiis quisquam, harum consectetur quibusdam distinctio, sint repudiandae cum sunt vel laudantium in. Quia veritatis quisquam odit soluta labore eum minima.
                Quia reiciendis odio, aut exercitationem laudantium excepturi magni vel explicabo autem ut qui animi nobis mollitia necessitatibus sit illo quod obcaecati ad omnis fugit at? Rerum sunt possimus quibusdam praesentium.
                </p>
                <button>Ver más</button>
            </article>
            
            <article>
                <img src="/images/img-phone-03.jpg" alt="phone 03">
                <h4></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, blanditiis quisquam, harum consectetur quibusdam distinctio, sint repudiandae cum sunt vel laudantium in. Quia veritatis quisquam odit soluta labore eum minima.
                Quia reiciendis odio, aut exercitationem laudantium excepturi magni vel explicabo autem ut qui animi nobis mollitia necessitatibus sit illo quod obcaecati ad omnis fugit at? Rerum sunt possimus quibusdam praesentium.
                </p>
                <button>Ver más</button>
            </article>

        </section>

        <aside>
            <section>
            <h2>Tutoriales</h2>
            <article>
                <img src="/images/aside-01.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>                
            </article>
            <article>
                <img src="/images/aside-02.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>                
            </article>
            <article>
                <img src="/images/aside-03.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>                
            </article>
            <article>
                <img src="/images/aside-04.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>                
            </article>
        </section>
<section class="publicidad">
    <h2>Publicidad</h2>
    <img src="/images/ad-01.jpg" alt="Publicidad">
    <img src="/images/ad-02.jpg" alt="Publicidad">
</section>

        </aside>
            
    </main>
</body>
</html>